<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.brainage.hybrid1"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.BasicExample1Activity"
            android:label="@string/label_basic_example1">
            <intent-filter>
                <action
                    android:name="net.brainage.hybrid1.action.VIEW_BASIC_EXAMPLE1" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.BasicExample2Activity"
            android:label="@string/label_basic_example2">
            <intent-filter>
                <action
                    android:name="net.brainage.hybrid1.action.VIEW_BASIC_EXAMPLE2" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8"
        android:maxSdkVersion="9" />

</manifest> 